# Build & packaging output
dist/
build/
*.pyc
*.pyo
__pycache__/

# Downloads & local runs
downloads/
downloaded_files/
*.mp4
*.lock
*.log

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store

# Temp
*.tmp
